<p class="center">Find the intersection of common friends between</p>

<form class="form-inline center" role="form" ng-submit="getCommonFriends()" >
  <div class="form-group">
    <label class="sr-only">Username 1</label>
    <input type="text" class="form-control input-md" ng-model="username1" placeholder="e.g. MrMattNguyen" />
  </div>

  and

  <div class="form-group">
    <label class="sr-only">Username 2</label>
    <input type="text" class="form-control input-md" ng-model="username2" placeholder="e.g. _bsiddiqui" />
  </div>

  <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search"></span></button>
</form>

<section class="col-md-8 col-md-offset-2 query-results">
  <ul>
    <div ng-repeat="user in commonFriends">
      <li class="query-result">
        <img class="img-rounded" src="{{user.profile_image_url}}" alt="{{user.name}} Photo" />
        <span class="screen-name">{{user.screen_name}}</span>
        <span class="real-name">({{user.name}})</span>

        <div class="description float-right hidden-sm hidden-xs">{{user.description}}</div>
      </li>
    </div>
  </ul>
</section>
