<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="An app that does stuff with the Twitter API" />
    <meta name="author" content="@MrMattNguyen" />

    <title>[% settings.appname %]</title>

    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link href="/css/main.css" rel="stylesheet" />
    <!--[% IF settings.environment == 'development' %]-->
    <!--[% ELSE %]-->
    <!--<link href="/css/build/style.min.css" rel="stylesheet" />-->
    <!--[% END %]-->
  </head>

  <body ng-app="twittalytics">

    <header class="navbar center">
      <div class="navbar-inner">
        <div class="container-fluid">
          <ul class="nav navbar-nav center">
            <li><a href="/user_statuses">User Statuses</a></li>
            <li class="title">TWITTALYTICS</li>
            <li><a href="/common_friends">Common Friends</a></li>
          </ul>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div ng-view></div>
        </div>
      </div>
    </div>

    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>

    <script src="[% request.uri_base %]/app/config.js"></script>
    <script src="[% request.uri_base %]/app/controllers.js"></script>
    <script src="[% request.uri_base %]/app/services.js"></script>
    <script src="[% request.uri_base %]/app/app.js"></script>

    <!--[% IF settings.environment == 'development' %]-->
    <!--[% ELSE %]-->

      <!--<script src="/bower_components/jquery/jquery.min.js"></script>-->
      <!--<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
      <!--<script src="/bower_components/angular/angular.min.js"></script>-->
      <!--<script src="/bower_components/angular-route/angular-route.min.js"></script>-->

      <!--<script src="/app/build/app.min.js"></script>-->

    <!--[% END %]-->
  </body>
</html>
