html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.navbar {
  margin-bottom: 18px;
}

.center.navbar .nav,
.center.navbar .nav > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.center {
  text-align: center;
}

.navbar-nav>li>a {
  margin-top: 16px;
}

.title {
  font-size: 56px;
  font-weight: bold;
}

.query-results {
  margin-top: 25px;
}

.query-results > ul {
  list-style: none;
  padding-left: 0;
}

li.query-result {
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 10px;
  background: rgb(210, 50, 45);
  color: white;
  font-weight: bold;
}

li.query-result > img {
  margin-right: 20px;
}

span.screen-name {
  font-size: 20px;
}

span.real-name {
  font-weight: normal;
}

.description {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.float-right {
  float: right;
}
