html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.navbar {
  margin-bottom: 35px;
}

.center.navbar .nav,
.center.navbar .nav > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.center {
  text-align: center;
}

.navbar-nav>li>a {
  margin-top: 16px;
}

.title {
  font-size: 56px;
  font-weight: bold;
}
